<div class="container">
  <h2 class="text-info">{{balance | currency}}</h2>
  <hr />
  <h2 class="text-danger">Gastos</h2>

  <form>
    <input name="id" id="id" type="hidden" [(ngModel)]="expense.id" />
    <input
      name="periodId"
      id="periodId"
      type="hidden"
      [(ngModel)]="expense.periodId"
    />
    <div class="row">
      <div class="col-md-3">
        <input
          name="name"
          id="name"
          type="text"
          placeholder="Nombre"
          [(ngModel)]="expense.name"
          class="form-control"
        />
      </div>

      <div class="col-md-3">
        <input
          name="amount"
          id="amount"
          type="number"
          placeholder="Cantidad"
          [(ngModel)]="expense.amount"
          class="form-control"
        />
      </div>

      <div class="col-md-3">
        <select
          name="categoyId"
          id="categoryId"
          [(ngModel)]="expense.categoryId"
          class="form-select"
        >
          <option value="0">Seleccione</option>
          <option *ngFor="let category of categories" value="{{ category.id }}">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="col">
        <button (click)="add()" class="btn btn-danger">Guardar</button>
      </div>

      <div class="col">
        <button (click)="cancel()" class="btn btn-secondary">Cancelar</button>
      </div>
    </div>
  </form>
</div>

<div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total</td>
          <td>{{ total | currency }}</td>
          <td></td>
        </tr>
        <tr *ngFor="let expense of expenses">
          <td>
            <div class="row">
              <div class="col-md-4">
                {{ expense.name }}
              </div>
              <div class="col-md-4">
                <span class="text-info">
                  {{ expense.categoryName }}
                </span>
              </div>
              <div class="col-md-4">
                <span class="text-info">
                  {{ expense.dateRegister | date }}
                </span>
              </div>
            </div>
          </td>
          <td>{{ expense.amount | currency }}</td>
          <td>
            <button (click)="edit(expense.id)" class="btn btn-warning">
              Editar
            </button>
            <button (click)="delete(expense)" class="btn btn-danger">
              Borrar
            </button>
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ total | currency }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
